:root {
    --theme-bg-colour: #078282;
    --theme-bg-font: #d4eae6;
}

.header{
    background-color : var(--theme-bg-colour);
    color : var(--theme-bg-font);
}

.maindiv{
    margin-top:40px;
    width : 80vw;
    align-items:center;
}

.form-check-input:checked {
    background-color: var(--theme-bg-colour) !important;
    border-color: var(--theme-bg-colour) !important;
}

.activepagebtn {
    background-color: var(--theme-bg-colour);
    color: var(--theme-bg-font);
}

.search {
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1);
}

    .search input, .search select {
        height: 50px;
        text-indent: 25px;
        border: 2px solid #d6d4d4;
    }

    .search select {
        min-width: 230px;
    }

        .search input:focus, .search select:focus {
            box-shadow: none;
            border: 2px solid #0dcaf0;
        }

    .search .fa-search {
        position: absolute;
        top: 16px;
        left: 16px;
    }

    .search .pagesize {
        position: absolute;
        top: 13px;
        left: 16px;
    }

    .search .pagesizeselect {
        text-indent: 95px;
        min-width: 170px;
    }

.searchBar {
    display: flex;
    justify-content: space-between;
}

.submitbtnmodaL {
    background-color: #3f51b5 !important;
    color: white !important;
}