
@model HalloDoc.Entity.Models.CountStatusWiseRequestModel
@using static HalloDoc.Entity.Models.Constant
@{
    Layout = "_Layout";
}
<div class="mx-sm-1 mx-md-2 mx-xxl-4 mt-0">
    <partial name="../AdminActions/AssignCase.cshtml" />
    <partial name="../AdminActions/CancelCase.cshtml" />
    <partial name="../AdminActions/BlockCase.cshtml" />
    <partial name="UpperTab.cshtml" />
    <div id="SearchResult" class="mt-4"></div>
</div>

<script>
    $(function () {
        var val = 1;
        $("#hiddenfirst").val(val);
        $("#filterForm").submit();
    });
</script>