@{
	Layout = "_Layout";
}
@* using static HalloDoc.Entity.Models.CountStatusWiseRequestModel *@
@using static HalloDoc.Entity.Models.Constant
@using HallodocMVC.Repository.Admin.Repository.Interface
@inject ILoginRepository loginRepository
@if (loginRepository.isAccessGranted((int)CV.RoleID(), "Dashboard"))
{
<div class="mx-sm-1 mx-md-2 mx-xxl-4 mt-0">
    <partial name="../AdminActions/_partial/AssignCase.cshtml"/>
    <partial name="../AdminActions/_partial/CancelCase.cshtml"/>
    <partial name="../AdminActions/_partial/BlockCase.cshtml"/>
    <partial name="../AdminActions/_partial/TransferCase.cshtml"/>
    <partial name="../AdminActions/_partial/ClearCase.cshtml" />
    <partial name="../AdminActions/_partial/SendAgreement.cshtml" />
    <partial name="../AdminActions/_partial/AcceptRequest.cshtml" />
    <partial name="../AdminActions/_partial/TranstoAdmin.cshtml" />
    <partial name="UpperTab.cshtml" />
    <div id="SearchResult" class="mt-4"></div>
        
</div>
        }
<script>
    $(function () {
        $("#filterForm").submit();
    });
</script>

