
@model HalloDoc.Entity.Models.CountStatusWiseRequestModel
@using static HalloDoc.Entity.Models.Constant
@{
    Layout = "_Layout";
}
<div class="mx-sm-1 mx-md-2 mx-xxl-4 mt-0 bg-light">
    <!--Status of requests-->
    
        <!--End Status of requests-->
    <partial name="UpperTab.cshtml" />
    <div id="SearchResult">
    </div>
   
</div>

<script>

    $(function () {
        var val = 1;
        $("#hiddenfirst").val(val);
        $("#filterForm").submit();
    });

</script>