﻿<!--Modal-->
<div class="modal fade" id="targetModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content p-3 d-flex align-items-center">
            <i class="fa-solid fa-circle-exclamation fa-7x p-2 m-2 text-warning border rounded-circle border-warning"></i>
            <p class="h4 p-2">Information</p>
            <p class="fs-6" style="text-align: center;">
                When Submitting a request, you must provide the correct contact information for the patient or the responsibly party. Failure to provide the correct
                email and phone number will delay service or be declined.
            </p>
            <a data-bs-dismiss="modal" class="btn btn-info text-white p-2">Ok</a>
        </div>
    </div>
</div>