@{
    Layout = "_RequestLayout";
}
@model HalloDoc.Entity.Models.PatientModels.CreateFamilyFriendRequestModel
<partial name="../SubmitRequest/Confirmation.cshtml" />

<div class="d-flex justify-content-center">
    <div class="d-flex flex-column my-2 col-lg-8 col-md-10">
        <div class="d-flex justify-content-end pe-2">
            <a asp-controller="SubmitRequest" asp-action="Index" class="btn border border-info">
                <strong class="text-info">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i> Back
                </strong>
            </a>
        </div>
        <div class="shadow bg-white rounded m-2 p-2">
            <form asp-controller="SubmitRequest" asp-action="CreateFamilyFriendRequest" method="post" enctype="multipart/form-data">
                <!-- Family / Friend Information -->
                <strong class="fs-5 p-2">Family / Friend Information</strong>
                <div class="row p-2">
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input asp-for="FF_FirstName" type="text" class="form-control shadow-none" id="FF_FirstName" placeholder="Your First Name">
                            <label for="FF_FirstName">Your First Name</label>
                            <span asp-validation-for="FF_FirstName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input asp-for="FF_LastName" type="text" class="form-control shadow-none" id="FF_LastName" placeholder="Your Last Name">
                            <label for="FF_LastName">Your Last Name</label>
                            <span asp-validation-for="FF_LastName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6 phone">
                        <div class="form-floating mb-3 h-100">
                            <input asp-for="FF_PhoneNumber" type="tel" class="form-control shadow-none" id="FF_PhoneNumber" placeholder="Your PhoneNumber">
                            <label for="FF_PhoneNumber">PhoneNumber</label>
                            <span asp-validation-for="FF_PhoneNumber" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input asp-for="FF_Email" type="email" class="form-control shadow-none" id="FF_Email" placeholder="Your Email">
                            <label for="FF_Email">Your Email</label>
                            <span asp-validation-for="FF_Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input asp-for="FF_RelationWithPatients" type="text" class="form-control shadow-none" id="floatingInput" placeholder="Relation with Patient">
                            <label for="floatingInput">Relation with Patient</label>
                            <span asp-validation-for="FF_RelationWithPatients" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <!-- Patient Information -->
                <strong class="fs-5 p-2">Patient Information</strong>
                <div class="row p-2">
                    <div class="col-12">
                        <div class="form-floating mb-3">
                            <textarea asp-for="Symptoms" class="form-control shadow-none" placeholder="Leave a comment here" id="Symptoms" style="height: 100px"></textarea>
                            <label for="Symptoms">Enter Brief Details Of Symptoms</label>
                            <span asp-validation-for="Symptoms" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input asp-for="FirstName" type="text" class="form-control shadow-none" id="FirstName" placeholder="Enter First Name">
                            <label for="FirstName">First Name</label>
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input asp-for="LastName" type="text" class="form-control shadow-none" id="LastName" placeholder="Enter Last Name">
                            <label for="LastName">Last Name</label>
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input asp-for="DateOfBirth" type="date" max="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control shadow-none" id="DateOfBirth" placeholder="Enter Date of Birth">
                            <label for="DateOfBirth">Date of Birth</label>
                            <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <!-- Patient Contact Information -->
                <strong class="fs-5 p-2">Patient Contact Information</strong>
                <div class="row p-2">
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input asp-for="Email" type="email" class="form-control shadow-none" id="Email" placeholder="name@example.com">
                            <label for="Email">Email</label>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6 phone">
                        <div class="form-floating mb-3 h-100">
                            <input asp-for="PhoneNumber" type="tel" class="form-control shadow-none" id="phone" autocomplete="off" />
                            <span id="error-msg" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <!-- Patient Location -->
                <strong class="fs-5 p-2">Patient Location</strong>
                <div class="row p-2">
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input asp-for="Street" type="text" class="form-control shadow-none" id="Street" placeholder="Enter Street">
                            <label for="Street">Street</label>
                            <span asp-validation-for="Street" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input asp-for="City" type="text" class="form-control shadow-none" id="City" placeholder="Enter City">
                            <label for="City">City</label>
                            <span asp-validation-for="City" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <select class="form-select" required aria-label="Phone" asp-for="State" data-allow-clear="true" tabindex="-1" onchange="selectprovider()" id="region2" asp-items="@(new SelectList(ViewBag.RegionComboBox,"RegionId","RegionName"))" data-control="select2" data-placeholder="Select Level">
                                <option value="">Select States</option>
                            </select>
                            <label for="region2">State</label>
                            <span asp-validation-for="State" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input asp-for="ZipCode" type="text" class="form-control shadow-none" id="ZipCode" placeholder="Enter Zip Code">
                            <label for="ZipCode">Zip Code</label>
                            <span asp-validation-for="ZipCode" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input asp-for="RoomSuite" type="text" class="form-control shadow-none" id="RoomSuite" placeholder="Enter Room / Suite">
                            <label for="RoomSuite">Room / Suite (Optional)</label>
                        </div>
                    </div>
                </div>
                <!-- Upload Photo or Document -->
                <strong class="fs-5 p-2">Upload Photo or Document (Optional)</strong>
                <div class="row p-2 m-1">
                    <div>
                        <div class="col-12 border rounded">
                            <div class="d-flex justify-content-between">
                                <span id="fileName" class="p-3">No file chosen</span>
                                <a class="btn bg-info btn btn-lg" onclick="document.getElementById('files').click()">
                                    <span for="files" class="btn text-white">
                                        <i class="fa fa-cloud-upload"></i>
                                        Upload
                                    </span>
                                </a>
                                <input asp-for="UploadFile" id="files" type="file" class="d-none" onchange="DisplayFileName()">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-info text-white mx-2" id="submit">Submit</button>
                    <a asp-controller="CreateRequest" asp-action="Index" class="btn border border-info text-info mx-2">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $('#targetModal').modal('show');
    });
</script>