<div class="modal fade" id="EncounterPdf" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
			<div class="modal-header bg-info text-white">
				<input type="hidden" id="RequestID_EncounterPdf" name="id" />
				<h5 class="modal-title" id="exampleModalLongTitle">Download Report</h5>
				<i class="fa-solid fa-xmark" data-bs-dismiss="modal"></i>
			</div>
			<div class="modal-body">
				<div class="d-flex justify-content-center">
					<p class="text-secondary">Encounter Form Finalize successfully </p><br/>
					<button type="button" id="downloadBtn" class="btn bg-info text-white me-2">Download</button>
				</div>
			</div>
        </div>
    </div>
</div>
<script>
    function openPdfWithRequestId() {
        var baseUrl = '@Url.Action("GeneratePdf", "AdminActions")';
		var requestId = document.getElementById('RequestID_EncounterPdf').value;
		var urlWithRequestId = baseUrl + '?id=' + requestId;
        window.open(urlWithRequestId, '_blank');
    }
    document.getElementById('downloadBtn').onclick = openPdfWithRequestId;
</script>