@{
	Layout = "_Layout";
}

	<div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				<h1>Oops!</h1>
				<h2>401 - You're not Authorized to open this page</h2>
			</div>
			<a asp-controller="Home" asp-action="LandingPage">Go TO Homepage</a>
		</div>
	</div>


