@{
    Layout = "_LoginLayout";
}
@model HalloDoc.Entity.DataModels.Aspnetuser;
<div class="align-self-center w-sm-50">
    @* <a asp-controller="Home" asp-action="Index" class="text-decoration-none">
    <strong class="text-info">
    <i class="fa fa-chevron-left" aria-hidden="true"></i> Back
    </strong>
    </a> *@
    <h3 class="py-3">Reset Your Password</h3>
	<form asp-action="ResetPassEmail" asp-controller="Home" method="post">
		<strong class="text-danger">@ViewData["EmailCheck"]</strong>
        <div class="form-floating mb-4 email">
            <input value="" type="email" class="form-control shadow-none" asp-for="Email" id="forgetpassemail" placeholder="name@example.com" required>
            <label class="bg-transparent" for="forgetpassemail">Email</label>
            <div class="btn btn-light">
                <i class='fa fa-user-circle field-icon position-relative'></i>
            </div>
            <span class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-info text-white w-100 mb-4" role="button">Reset Password</button>
    </form>
    <a asp-controller="Home" asp-action="Index" class="text-decoration-none d-flex justify-content-center"><strong class="text-info">Back to login</strong></a>
</div>
