@{
    Layout = "_LoginLayout";
}
<div class="d-flex flex-column align-self-center col-md-6 col-10">
    <a asp-controller="CreateRequest" asp-action="Index" class="btn btn-info text-white shadow-none mb-4 p-3 fs-5">
        Submit a Request
    </a>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary text-white shadow-none p-3 fs-5">
        User Login
    </a>
</div>