@{
    Layout = "_LoginLayout";
}
@model HalloDoc.Entity.DataModels.Aspnetuser;
@* <div class="align-self-center w-sm-50">
    @* <a asp-controller="Home" asp-action="Index" class="text-decoration-none">
    <strong class="text-info">
    <i class="fa fa-chevron-left" aria-hidden="true"></i> Back
    </strong>
    </a> *
    <h3 class="py-3">Reset Your Password</h3>
    @ViewData["error"]
    <form asp-action="SavePass" asp-controller="Login">
        <h1 class="login fs-1 fw-bolder"> Reset Password </h1>
        <input class="form-control rounded" name="Email" value="@ViewBag.email" type="hidden" placeholder=Suchtext
               autocomplete=off>
        <div class="form-floating input-group with-icon mb-3">
            <input class="form-control rounded" id="password" name="Password" type="password" placeholder=Suchtext
                   autocomplete=off>
            <i class="bi bi-eye"></i>
            <label for="floatingInput" class="bg-transparent">Password</label>
        </div>
        <div class="form-floating input-group with-icon mb-3">
            <input class="form-control rounded" id="confirm" onkeyup="ppd();" name="ConfirmPassword" type="password" placeholder=Suchtext
                   autocomplete=off>
            <i class="bi bi-eye"></i>
            <label for="floatingInput" class="bg-transparent">Password Conformation</label>
        </div>
        <p id="error" style="display:none;color:red">mis match password</p>

        <div class="form-floating my-3">
            <input type="submit" value="Save" class="btn btn-info fs-4 text-white w-100">
        </div>
    </form>
    <a asp-controller="Home" asp-action="ResetPassword" class="text-decoration-none d-flex justify-content-center"><strong class="text-info">Reset Password</strong></a>
</div> *@
<div class="align-self-center w-sm-50">
    @* <a asp-controller="Home" asp-action="Index" class="text-decoration-none">
    <strong class="text-info">
    <i class="fa fa-chevron-left" aria-hidden="true"></i> Back
    </strong>
    </a> *@
    <h3 class="py-3">Reset Your Password</h3>
    <strong class="text-danger">@ViewData["error"]</strong>
    <form asp-action="SavePass" asp-controller="Home" method="post" id="passwordform">
        <input class="form-control rounded" name="Email" value="@ViewBag.email" type="hidden" placeholder=Suchtext autocomplete=off>
        <div class="form-floating mb-4 password">
            <input class="form-control shadow-none eyehide" name="Password" type="password" id="password" placeholder="Password">
            <label for="password">Password</label>
            <button type="button" class="btn btn-light" onclick="passtoggle1()">
                <i class="showImg fa fa-eye"></i>
                <i class="fa fa-eye-slash" style="display:none;"></i>
            </button>
        </div>
        <div class="form-floating mb-4 password">
            <input type="text" class="form-control shadow-none eyehide" onkeyup="ppd()" name="ConfirmPassword" id="confirm" placeholder="Password">
            <label for="confirm">Confirm Password</label>
            @* <button type="button" class="btn btn-light" onclick="passtoggle()">
                <i class="showImg fa fa-eye"></i>
                <i class="fa fa-eye-slash"></i>
            </button> *@
            <p id="error" style="display:none;color:red">mis match password</p>
        </div>
        <button type="button" class="btn btn-info text-white w-100 mb-4" onclick="submitform()" role="button">Save</button>
    </form>
</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <script>
        var  temp = false;
        function ppd() {
            var password = $("#password").val();
            var confirm_password = $("#confirm").val();
            console.log($("#password").val());
            if (password != confirm_password) {
                $("#confirm").css('border-color', "red");
                $("#error").show();
            temp = false;
            }
            else {
                $("#confirm").css('border-color', "green");
                $("#error").hide();
                temp = true;
            }
        }
    function submitform() {
        if (temp == true) {
            $('#passwordform').submit();
        }
    }
    </script>
<script>
    function passtoggle1() {
        var x = document.getElementById("password");
        if (x.type === "password") {
            x.type = "text";
            document.querySelectorAll(".fa-eye").forEach(i => i.style.display = "none");
            document.querySelectorAll(".fa-eye-slash").forEach(i => i.style.display = "block");
        }
        else {
            x.type = "password";
            document.querySelectorAll(".fa-eye-slash").forEach(i => i.style.display = "none");
            document.querySelectorAll(".fa-eye").forEach(i => i.style.display = "block");
        }
    }
</script>