@{
    Layout = "_Layout";
}
@model HalloDoc.Entity.Models.ViewEncounterData;

<div class="container">
    @* heading *@
    <div class="d-flex justify-content-between">
        <div class="d-flex align-self-center">
            <h4><strong>Encounter Form</strong></h4>
        </div>
        <a asp-controller="AdminDashBoard" asp-action="Index" class="btn border border-info bg-light rounded mt-3 mb-1">
            <span class="text-info">
                <i class="fa fa-angle-left align-middle"></i>
                <b>&nbsp;&nbsp;Back</b>
            </span>
        </a>
    </div>
    @* Case Information *@
    <div class="bg-white rounded shadow mt-3">
        <div class="p-4">
            @* heading *@
            <div class="col-12 d-flex justify-content-center">
                <h1 class="text-info">Medical Report-Confidencial</h1>
            </div>
            @* data *@
            <form asp-action="EncounterEdit" asp-controller="AdminActions" class="row g-3 " enctype="multipart/form-data">
                <input asp-for="RequesClientid" name="RequesClientid" type="hidden">
                <input type="hidden" asp-for="Requesid" />
                <input type="hidden" asp-for="EncounterID" />
                
                <div class="col-md-6 pb-3">
                    <div class="form-floating">
                        <input asp-for="FirstName" type="text" class="form-control shadow-none inputs" id="FirstName">
                        <label for="FirstName">First Name</label>
                    </div>
                </div>
                <div class="col-md-6 pb-3">
                    <div class="form-floating">
                        <input asp-for="LastName" type="text" class="form-control shadow-none inputs" id="LastName">
                        <label for="LastName">Last Name</label>
                    </div>
                </div>
                <div class="col-md-12 pb-3">
                    <div class="form-floating">
                        <input asp-for="Location" type="text" class="form-control shadow-none inputs" id="Location">
                        <label for="Location">Address</label>
                    </div>
                </div>
                <div class="col-md-6 pb-3">
                    <div class="form-floating">
                        <input asp-for="DOB" type="date" class="form-control shadow-none inputs" id="DOB" placeholder="Room">
                        <label for="DOB">Date Of Birth</label>
                    </div>
                </div>
                <div class="col-md-6 pb-3">
                    <div class="form-floating">
                        <input asp-for="PhoneNumber" type="text" class="form-control shadow-none inputs" id="PhoneNumber" placeholder="Room">
                        <label for="PhoneNumber">Phone Number</label>
                    </div>
                </div>
                <div class="col-md-6 pb-3">
                    <div class="form-floating">
                        <input asp-for="Email" type="text" class="form-control shadow-none inputs" id="Email" placeholder="Room">
                        <label for="Email">Email</label>
                    </div>
                </div>
                <div class="col-md-6 pb-3">
                    <div class="form-floating">
                        <input asp-for="HistoryOfP" type="text" class="form-control shadow-none inputs" id="HistoryOfP" placeholder="Room">
                        <label for="HistoryOfP">History Of Patient Illness/injury</label>
                    </div>
                </div>
                <div class="col-md-6 pb-3">
                    <div class="form-floating">
                        <input asp-for="HistoryOfMedical" type="text" class="form-control shadow-none inputs" id="HistoryOfMedical" placeholder="Room">
                        <label for="HistoryOfMedical">History Of Medical</label>
                    </div>
                </div>
                <div class="col-md-6 pb-3">
                    <div class="form-floating">
                        <input asp-for="HistoryOfMedical" type="text" class="form-control shadow-none inputs" id="HistoryOfMedical" placeholder="Room">
                        <label for="HistoryOfMedical">Medical History</label>
                    </div>
                </div>
                <div class="col-md-6 pb-3">
                    <div class="form-floating">
                        <input asp-for="Medications" type="text" class="form-control shadow-none inputs" id="Medications" placeholder="Room">
                        <label for="Medications">Medications</label>
                    </div>
                </div>
                <div class="col-md-6 pb-3">
                    <div class="form-floating">
                        <input asp-for="Allergies" type="text" class="form-control shadow-none inputs" id="Allergies" placeholder="Room">
                        <label for="Allergies">Allergies</label>
                    </div>
                </div>
                <div class="col-md-6 pb-3">
                    <div class="form-floating">
                        <input asp-for="Temp" type="text" class="form-control shadow-none inputs" id="Temp" placeholder="Room">
                        <label for="Temp">Temp</label>
                    </div>
                </div>
                <div class="col-md-6 pb-3">
                    <div class="form-floating">
                        <input asp-for="HR" type="text" class="form-control shadow-none inputs" id="HR" placeholder="Room">
                        <label for="HR">Temp</label>
                    </div>
                </div>
                <div class="col-md-6 pb-3">
                    <div class="form-floating">
                        <input asp-for="RR" type="text" class="form-control shadow-none inputs" id="RR" placeholder="Room">
                        <label for="RR">Temp</label>
                    </div>
                </div>
                
                <div class="col-md-4 form-floating ">
                    <input asp-for="Temp" class="form-control rounded" name="Temp" type="text" placeholder=Suchtext autocomplete=off>
                    <label for="floatingInput">Street </label>
                    @* <span asp-validation-for="Temp" class="text-danger"></span> *@
                </div>
                <div class="col-md-4 form-floating ">
                    <input asp-for="Hr" class="form-control rounded" name="Hr" type="text" placeholder=Suchtext autocomplete=off>
                    <label for="floatingInput">Street </label>
                    @* <span asp-validation-for="Hr" class="text-danger"></span> *@
                </div>
                <div class="col-md-4 form-floating ">
                    <input asp-for="Rr" class="form-control rounded" name="Rr" type="text" placeholder=Suchtext autocomplete=off>
                    <label for="floatingInput">Street </label>
                    @* <span asp-validation-for="Rr" class="text-danger"></span> *@
                </div>
                <div class="col-md-2 form-floating ">
                    <input asp-for="BloodPressureS" class="form-control rounded" name="BloodPressureS" type="text" placeholder=Suchtext autocomplete=off>
                    <label for="floatingInput">Blood Pressure S </label>
                    @* <span asp-validation-for="BloodPressureS" class="text-danger"></span> *@
                </div>
                <div class="col-md-2 form-floating ">
                    <input asp-for="BloodPressureD" class="form-control rounded" name="BloodPressureD" type="text" placeholder=Suchtext autocomplete=off>
                    <label for="floatingInput">Blood Pressure D </label>
                    @* <span asp-validation-for="BloodPressureD" class="text-danger"></span> *@
                </div>
                <div class="col-md-4 form-floating ">
                    <input asp-for="O2" class="form-control rounded" name="O2" type="text" placeholder=Suchtext autocomplete=off>
                    <label for="floatingInput">O2 </label>
                    @* <span asp-validation-for="O2" class="text-danger"></span> *@
                </div>
                <div class="col-md-4 form-floating ">
                    <input asp-for="Pain" class="form-control rounded" name="Pain" type="text" placeholder=Suchtext autocomplete=off>
                    <label for="floatingInput">Pain </label>
                    @* <span asp-validation-for="Pain" class="text-danger"></span> *@
                </div>
                <div class="col-md-6 form-floating  ">
                    <input asp-for="Heent" class="form-control rounded" name="Heent" type="text" placeholder="First Name" autocomplete=off>
                    <label class="" for="floatingInput">Heent </label>
                    @* <span asp-validation-for="Heent" class="text-danger"></span> *@
                </div>
                <div class="col-md-6 form-floating">
                    <input asp-for="CV" class="form-control rounded" name="CV" type="text" placeholder=Suchtext autocomplete=off>
                    <label for="floatingInput"> CV </label>
                    @* <span asp-validation-for="CV" class="text-danger"></span> *@
                </div>
                <div class="col-md-6 form-floating  ">
                    <input asp-for="Chest" class="form-control rounded" name="Chest" type="text" placeholder="First Name" autocomplete=off>
                    <label class="" for="floatingInput">Chest </label>
                    @* <span asp-validation-for="Chest" class="text-danger"></span> *@
                </div>
                <div class="col-md-6 form-floating">
                    <input asp-for="ABD" class="form-control rounded" name="ABD" type="text" placeholder=Suchtext autocomplete=off>
                    <label for="floatingInput">ABD </label>
                    @* <span asp-validation-for="ABD" class="text-danger"></span> *@
                </div>
                <div class="col-md-6 form-floating  ">
                    <input asp-for="Extr" class="form-control rounded" name="Extr" type="text" placeholder="First Name" autocomplete=off>
                    <label class="" for="floatingInput">Extr </label>
                    @* <span asp-validation-for="Extr" class="text-danger"></span> *@
                </div>
                <div class="col-md-6 form-floating">
                    <input asp-for="Skin" class="form-control rounded" name="Skin" type="text" placeholder=Suchtext autocomplete=off>
                    <label for="floatingInput">Skin </label>
                    @* <span asp-validation-for="Skin" class="text-danger"></span> *@
                </div>
                <div class="col-md-6 form-floating  ">
                    <input asp-for="Neuro" class="form-control rounded" name="Neuro" type="text" placeholder="First Name" autocomplete=off>
                    <label class="" for="floatingInput">Neuro </label>
                    @* <span asp-validation-for="Neuro" class="text-danger"></span> *@
                </div>
                <div class="col-md-6 form-floating">
                    <input asp-for="Other" class="form-control rounded" name="Other" type="text" placeholder=Suchtext autocomplete=off>
                    <label for="floatingInput">Other </label>
                    @* <span asp-validation-for="Other" class="text-danger"></span> *@
                </div>
                <div class="col-md-6 form-floating  ">
                    <input asp-for="Diagnosis" class="form-control rounded" name="Diagnosis" type="text" placeholder="First Name" autocomplete=off>
                    <label class="" for="floatingInput">Diagnosis </label>
                    @* <span asp-validation-for="Diagnosis" class="text-danger"></span> *@
                </div>
                <div class="col-md-6 form-floating">
                    <input asp-for="Treatment" class="form-control rounded" name="Treatment" type="text" placeholder=Suchtext autocomplete=off>
                    <label for="floatingInput">Treatment </label>
                    @* <span asp-validation-for="Treatment" class="text-danger"></span> *@
                </div>
                <div class="col-md-6 form-floating">
                    <input asp-for="MedicationsDispensed" class="form-control rounded" name="MedicationsDispensed" type="text" placeholder=Suchtext autocomplete=off>
                    <label for="floatingInput">Medications Dispensed </label>
                    @* <span asp-validation-for="MedicationsDispensed" class="text-danger"></span> *@
                </div>
                <div class="col-md-6 form-floating">
                    <input asp-for="Procedures" class="form-control rounded" name="Procedures" type="text" placeholder=Suchtext autocomplete=off>
                    <label for="floatingInput">Procedures </label>
                    @* <span asp-validation-for="Procedures" class="text-danger"></span> *@
                </div>
                <div class="col-md-12 form-floating">
                    <input asp-for="Followup" class="form-control rounded" name="Followup" type="text" placeholder=Suchtext autocomplete=off>
                    <label for="floatingInput">Followup </label>
                    @* <span asp-validation-for="Followup" class="text-danger"></span> *@
                </div>

                <div class="card-footer border-0 bg-transparent text-end">
                    <button type="submit" class="btn btn-info text-white">Save Changes</button>
                    @{
                        if (Model.Isfinalize == false)
                        {
                            <button type="submit" value="Finalize" asp-action="Finalize" asp-controller="SubmitForm" class="btn btn-danger btn-cancel ">Finalize</button>
                        }
                    }
                    <a class="btn btn-outline-danger btn-cancel" asp-action="Index" asp-controller="AdminDashBoard">
                        cancel
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
